@using RazorEngine
@using RazorEngineDemo.ViewModel
@using System.Web.Mvc.Html;
@inherits RazorEngine.Templating.TemplateBase<ReportModel>
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    @Model.ReportId
    @foreach (var photo in Model.Photos)
    {
        if (photo == "111111")
        {
            <img src="@photo" />
        }
        else
        {
            <h1>@photo</h1>
        }
    }
    @for (var i = 1; i <= Model.Count; i++)
    {
        var s0 = "#region 部位描述\n";
        var s1=string.Format("TbCheckItemDetail tbCheckItemDetail{0} = new TbCheckItemDetail();\n", i);
        var s2=string.Format("tbCheckItemDetail{0}.Name = \"{0}\";\n", i);
        var s3 = string.Format("var tbCheckItemDesc{0} = tbCheckModule.TbCheckItemDescs.FirstOrDefault(s => s.Key == 1);\n", i);
        var s4 = string.Format("if (tbCheckItemDesc{0} != null)\n", i);
        var s5 = string.Format("    tbCheckItemDetail{0}.CheckResult = tbCheckItemDesc{0}.Key;\n", i);
        var s6 = string.Format("tbCheckModule.TbCheckItemDetails.Add(tbCheckItemDetail{0});\n", i);
        var s7 = "#endregion\n";
        var s8 = "\n";
        @s0
        @s1
        @s2
        @s3
        @s4
        @s5
        @s6
        @s7
        @s8
    }
    @Raw("<span>aaa</span>")
</body>
</html>